---
layout: default
title: Home
---

<a href="{{site.baseurl}}/resources/img/website_output.png">
  <img style="float:right;width:300px" src="{{site.baseurl}}/resources/img/website_output.png">
</a>

<p>OpenSeizureDetector is a suite of programmes and hardware designs 
intended to detect a tonic-clonic (grand mal) <a href="http://en.wikipedia.org/wiki/Epileptic_seizure">epileptic seizure</a> (fit).</p>
<p>There are commercial seizure detectors available on the market,
but all the ones I have seen requre either a connection to the patient, or
installation on or under a mattress.   Unfortunately our son, <a href="{{site.baseurl}}/meta/2014/01/13/About_Benjamin/">Benjamin</a> is
autistic and would not tolerate having anything attached to him, and he 
refuses to sleep in his bed - instead he sleeps on the floor behind his
bedroom door.   This means that nothing needing attachment to the patient or
installation in a bed will be of use to us.  There is some more information
about Benjamin and his challenges <a href="{{site.baseurl}}/meta/2014/01/13/About_Benjamin/">here</a>.</p>

I have experimented with detecting a seizure using vibration (an accelerometer), video (tracking movement), audio (haven't got far with this), and using a
depth camera such as a 
<a href="http://en.wikipedia.org/wiki/Kinect">Microsoft Kinect sensor</a>.
The Kinect version is the most promising at the moment, and is the subject
of most of this site, but you can find information about the other versions
on my <a href="https://github.com/jones139/OpenSeizureDetector">github repository</a> and my <a href="http://nerdytoad.blogspot.co.uk/search/label/Seizure_Detector">blog</a>.

We currently have two working prototypes, one installed in Benjamin's bedroom that is based on a <a href="{{site.baseurl}}/meta/2014/01/13/Kinect_Seizure_Detector/">Kinect depth camera</a>, and using a number of Raspberry Pi based <a href="{{site.baseurl}}/meta/2014/01/13/Digital_Video_Monitors/">Digital Video Monitors</a></li> to show us he is ok.

<p>I have just completed a version based on a <a href="http://jones139.github.io/OpenSeizureDetector/2015/02/01/Pebble_Watch_Version/">Pebble Smart Watch</a> which connects to an Android mobile phone to share the analysis data.   It will be
a challenge to persuade Benjamin to wear the watch (we may need to put pockets in his sleep suits to hold it), but it looks like the most reliable way I have of detecting the shaking associated with a tonic-clonic seizure.</p>


<h2>Current Status</h2>
<h3>Kinect Version</h3>
At the moment it is a functioning prototype breathing detector / alarm - it can detect that I am breathing,
 and alarm if I can hold my breath long enough (it is using a 30 second time 
series, and it is hard to stay perfectly still for that long!).
The benTV digital video monitors talk to the web interface to display the 
results and display alarms by chaning colour (I don't trust it enough yet to 
make an audible alarm in the night...).

<h3>Pebble Watch Version</h3>
Functioning prototpype comprising an app running on the watch to do analysis, and send analysis results to android phone.   The android app acts as a web server so client devices can see the results and raise alarms as necessary.
<img widht="400" src="https://raw.githubusercontent.com/jones139/OpenSeizureDetector/master/pebble_version/Documentation/diagram.jpg"/>

<h2>Next Steps</h2>
<h3>Kinect Version</h3>
<ul>
  <li>Soak test the current system to see how often it raises false alarms, then modify as necessary.</li>
  <li>Extend the current system to do frequency analysis to see the frequencies of movement - this may allow me to get towards detecting the shaking associated with a seizure.</li>
  <li>Add an audible alarm to the video monitors</li>
  <li>Write an Android Application so it can work on a portable device such as a tablet computer.</li>
</ul>
<h3>Pebble Watch Version</h3>
<ul>
  <li>Add data logging to android app so we can see how many false alarms we get.</li>
  <li>Update android app to provide indication of ip address of phone so users can connect to it easily.</li>

</ul>




<!-- Show last 5 posts here -->
<h2>Latest News</h2>
{% for post in site.posts limit: 5  %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span><br/>
            <span class="author"><i class="icon-user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
	
		<div class="entry">{{ post.excerpt }}</div>

	</article>
{% endfor %}

