<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.org.openseizuredetector.client"
      android:versionCode="5"
      android:versionName="1.4">
  <uses-sdk android:minSdkVersion="11" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application android:label="@string/app_name" 
	       android:icon="@drawable/star_of_life_48x48_green"
	       >
    <activity android:name="ClientActivity"
              android:label="@string/app_name"
	      android:icon="@drawable/star_of_life_48x48_green"
	      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="PrefActivity"
              android:label="OpenSeizureDetector Preferences"
	      android:icon="@drawable/star_of_life_48x48_green"
	      >
    </activity>
    <service
        android:name=".SdClientService"
        android:exported="false"/>    
  </application>
</manifest> 


<!-- 	      android:uiOptions="splitActionBarWhenNarrow"
-->
