<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body>
      <a href="https://github.com/jones139/OpenSeizureDetector">
	<img style="position: absolute; top: 0; right: 0; border: 0;" 
	     src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
      </a>     
      <header>
            <h1><a href="{{site.baseurl}}/">Welcome to {{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
            <hr />
        </header>

        <nav>

            <h3>Main Menu</h3>

            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-mail"></i>   <a href="{{site.baseurl}}/contact">Contact</a></li>
                <li><i class="icon-th"></i>     <a href="{{site.baseurl}}/archive">Archive</a></li>
                <li><i class="icon-rss"></i>    <a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
            </ul>

            <h3>Useful Pages</h3>

            <ul>
		<li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2015/02/01/Pebble_Watch_Version/">Pebble Smart Watch Based Seizure Detector Prototype</a>
		</li>
		<li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2014/01/13/Kinect_Seizure_Detector/">Kinect Based Seizure Detector Prototype</a>
		</li>
                <li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2014/01/13/Digital_Video_Monitors/">Digital Video Monitors</a></li>
		<li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2014/02/21/Accelerometer_Version/">Accelerometer Based Seizure Detector Prototype</a>
		</li>
                <li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2014/01/13/Source_Code/">Source Code</a></li>
                <li>
		  <i class="icon-link"></i>   
		  <a href="{{site.baseurl}}/meta/2014/01/13/About_Benjamin/">About Benjamin</a></li>
            </ul>
        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2015</time> {{ site.author }}</p>
        </footer>

	<script type="text/javascript">
	  
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7615786-16']);
	  _gaq.push(['_trackPageview']);
	  
	  (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
	</script>
	
    </body>

</html>
